<h3>Pragmatic Order Confirmation</h3>

<p>
  Thank you for your recent order from The Pragmatic Store.

  You ordered the following items:
</p>

<table>
  <tr>
    <th colspan="2">Qty</th><th>Description</th>
  </tr>
  <% @order.line_items.each do |line_item| %>
    <%= render partial: 'line_items/line_item', locals: { line_item: line_item, context: :mailer } -%>
  <% end %>
</table>

<p>
  We'll send you a separate e-mail when your order ships.
</p>
